{% extends "layouts/layout.html" %}

{% block title %}Work{% endblock %}

{% block main_append %}

<div class="container mt-4 mb-4">
    <div class="container p-2 px-5">
    <h1 class="mb-3 fw-semibold text-center fs-1">Academic & Professional Achievements</h1>

    <p class="fw-normal fs-5 text-start text-muted">
        This page presents a selection of my academic, research, and professional achievements.
        It highlights peer-reviewed publications, research projects, technical contributions,
        awards, and collaborative work that reflect my ongoing commitment to learning, innovation,
        and practical problem-solving.
    </p>

    </div>
    <hr class="mb-4">
    <!-- 论文展示部分 -->

    <div class="container mt-3">
        <div class="fs-2 mb-3">
            <svg class="bi text-success" width="32" height="32" fill="currentColor">
                <use href="/static/lib/bootstrap/icon/bootstrap-icons.svg#book"></use>
            </svg>
            Publications
        </div>

        {% for publication in publications %}
            {% include 'components/publication.html' %}
        {% endfor %}        

    </div>

</div>


{% endblock %}